@model IEnumerable<DoAn.Areas.admin.Models.LoaiGao>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/user/Views/Share/_layoutUser.cshtml";
}
@*banner*@
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height: 590px;">
                        <img class="img-fluid img-banner" src="~/user/img/home_banner_new.png" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light font-weight-medium mb-3">Tinh hoa của mỗi hạt</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Sức khỏe cho mỗi bữa</h3>
                                <a asp-action="Shop" class="btn btn-light py-2 px-3">Mua Ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="max-height: 590px; width: 100%;">
                        <img class="img-fluid img-banner-f" src="https://www.greenfoodsint.com/wp-content/uploads/2021/02/slider-1.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light font-weight-medium mb-3">Tinh hoa của mỗi hạt</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Sức khỏe cho mỗi bữa</h3>
                                <a asp-action="Shop" class="btn btn-light py-2 px-3">Mua Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
@*Banner*@
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển,</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Đổi trả 14 ngày</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
@*a*@
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Danh Mục Sản Phẩm</span></h2>
    </div>

    <div class="row px-xl-5 pb-3 justify-content-center">
        @{
            int quantityProduc = 0;
        }
        @foreach (var loaigao in Model)
        {
            <div class="col-lg-2 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["soLoai" + quantityProduc] Sản phẩm</p>
                    <form method="post" asp-action="Shop" asp-route-id ="@loaigao.Id">
                        <button type="submit" style="background: transparent; border: none" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="~/upload/@loaigao.hinhAnh" alt="">
                        </button>
                    </form>
                    <h5 class="font-weight-semi-bold m-0">@loaigao.tenLoaiGao</h5>
                </div>
            </div>
            <span style="display: none">@(quantityProduc++)</span>
        }
    </div>
</div>
@*a*@
@if (ViewBag.gao != null)
{
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Sản Phẩm Bán Chạy</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @{
                int number = 0;
            }
            @foreach (var gao in ViewBag.gao)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            @if (gao.tinhTrang == 0)
                            {
                                <img class="img-fluid w-100" src="~/upload/@gao.HinhAnh" alt="" style="position: relative">
                                <img src="~/upload/sold-out.png" style="position: absolute; width: 100%; left: 0; top: 0;" alt="">
                            }else{
                                <img class="img-fluid w-100" src="~/upload/@gao.HinhAnh" alt="">
                            }
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@gao.tenGao</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@{string price = gao.giaBan.ToString("#,##0") + "₫";}@price<span class="currency-detail m-0">/kg</span></h6>
                            </div>
                            <div class="d-flex mb-3 justify-content-center">
                                    <div class="color-start mr-2 ">
                                        @for(int i = 1; i <= 5 ; i++)
                                        {
                                        if (i <= gao.soSao)
                                            {
                                                <i class="fas fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-star"></i>
                                            }
                                        }
                                    </div>
                                    <span class="pt-1">(@ViewData["danhgia" + number] Đánh giá)</span>
                                    <span style="display: none">@(number++)</span>
                                </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center bg-light border">
                            <a asp-action="Detail" asp-route-id="@gao.Id" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 pb-1">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mb-3">
                        @Html.PagedListPager((IPagedList)ViewBag.gao, page => Url.Action("Index", "Home", new {page = page}),
                    new PagedListRenderOptions {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }})
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
@*a*@

